<ion-header>

    <ion-toolbar>
        <ion-chip>
            
            <ion-label>Usuario</ion-label>
            
          </ion-chip>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    
    <h2 class="ion-text-center ion-text-uppercase">Dashboard</h2>

    <ion-slides [options]="slideOps" pager=true>
        <ion-slide *ngFor="let author of authors">
            <ion-avatar (click)="showBooks(author)">
                <img src="{{author.photo}}"/>
                
                <ion-label>{{author.name}}</ion-label>
            </ion-avatar>
        </ion-slide>
    </ion-slides>

    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-card color="dark" (click)="goToAuthors()" >
                    <ion-card-header>
                      <ion-card-title>Autores</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-icon name="people"></ion-icon>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card color="dark" (click)="goToBooks()">
                    <ion-card-header>
                      <ion-card-title>Libros</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                    <ion-icon name="library"></ion-icon>
                </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card color="dark" (click)="goToMyFavorites()">
                    <ion-card-header>
                      <ion-card-title>Favoritos</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-icon name="diamond"></ion-icon>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card color="dark" (click)="goTopBooks()">
                    <ion-card-header>
                      <ion-card-title>Top Libros</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-icon name="stats-chart"></ion-icon>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>