//personalizaciones

ion-toolbar{
    --background: #edb10c;
    
}

ion-item {
    --background: #edb10c2a;
    --color: #062f77;
  
    --border-width: 0 0 4px 0;
    --border-color: #edb10c;
    --border-style: double;
  }