<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
      
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button text="Volver"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-breadcrumbs>
    <ion-breadcrumb href="menu/home">Home</ion-breadcrumb>
    <ion-breadcrumb href="menu/favorite-books">Libros favoritos</ion-breadcrumb>
  </ion-breadcrumbs>
  <ion-list>

    <ion-item *ngFor="let favorite of my_favorite_books">
      <ion-label>{{favorite.name}}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Libros Favoritos</ion-title>
  </ion-toolbar>
</ion-footer>
