<<<<<<< HEAD
//personalizaciones
ion-content {
  --background: blue;
}

=======
>>>>>>> 3d8a94381bac4736b9e9d32f63cac19754f97a99
ion-slides {
  background-color: white;
  height: 100%;
  max-width: 800px;
}
.swiper-slide {
  display: block;
  background-color: var(--ion-color-light);
  padding: 20px 0px 20px 0px;
}

ion-slide > h1 {
  color: var(--ion-color-danger-tint);
}

ion-slide > h2 {
  color: var(--ion-color-medium);
}

ion-slide > p {
  font-style: italic;
  font-size: 22px;
  border: solid;
  border-radius: 20px;
  border-color: black;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
}

ion-slide > ion-icon[name="close"] {
  float: right;
  color: red;
  font-size: 40px;
}

ion-slide[name="slide-perzonalizado"] > p {
  font-style: bold;
  font-size: 15px;
  border: solid;
  border-color: red;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 30px;
  padding: 10px 20px 10px 20px;
  margin: 5px 5px 5px 5px;
}

ion-slide[name="slide-perzonalizado"].swiper-slide {
  display: block;
  background-color: var(--ion-background-color);
  padding: var(--ion-padding);
}

ion-slide[name="slide-perzonalizado"] > h1 {
  color: var(--ion-color-personalizado-h1);
}

ion-slide[name="slide-perzonalizado"] > h2 {
  color: var(--ion-color-personalizado-h2);
}

ion-slide > ion-icon[name="close-circle-outline"] {
  float: right;
  color: blue;
  font-size: 30px;
}