<ion-header>
  <ion-toolbar>
    <ion-buttons> 
      <ion-button slot="end" (click)="closeModal()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <h2>Lista de libros</h2>
  </ion-list-header>
  <ion-list>
    <ion-item *ngFor="let book of books">
      <ion-avatar slot="start">
        <img src="{{book.cover}}"/>
      </ion-avatar>
      
      <ion-label>{{book.name}}</ion-label>
      
    </ion-item>
    
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Autor: -- {{author.name}} --</ion-title>
  </ion-toolbar>
</ion-footer>