<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
      
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button text="Volver"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-breadcrumbs>
    <ion-breadcrumb href="menu/home">Inicio</ion-breadcrumb>
    <ion-breadcrumb href="menu/books-top">Top Libros</ion-breadcrumb>
  </ion-breadcrumbs>
  <ion-list>
    
    <ion-item *ngFor="let top of top_books">
      <ion-thumbnail slot="start">
        <img src="{{top.cover}}"/>
      </ion-thumbnail>
      <ion-label>{{top.name}}</ion-label>
      <br>
      <ion-badge> Likes {{top.likes}}</ion-badge>
    </ion-item>

  </ion-list>

</ion-content>
