<ion-content>
   <ion-slides pager="true" [options]="slideOpt">
  
        <ion-slide *ngFor="let slide of slides;">
            <ion-icon name="close"></ion-icon>
                <h1>{{slide.title}}</h1>
                    <h2>{{slide.subtitle}}</h2>
                        <img src="{{slide.img}}" alt="">
                            <p>{{slide.description}}</p>
        </ion-slide>

        <ion-slide name="slide-perzonalizado">
            <ion-icon name="close-circle-outline"></ion-icon>
                <h1>Librería Móvil</h1>
                    <h2>Biblioteca digital desde su dispositivo móvil.</h2>
                        <img src="..\assets\img\mobile-book.jpg" alt="">
                            <p>Administre su cuenta, renueve y reserve libros.</p>
        </ion-slide>
   
</ion-slides>
  
</ion-content>

